<!DOCTYPE html>
<html> 
    <head>
        <meta charset="utf8" />
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Some text here</p>
        <footer>
            <p>&copy; {{currentYear}}</p>
        </footer>
    </body>
</html>